{:kotoba.app/id "cloud.itonami.isic-8542", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihen7ehm4auedkp7hjnmeqinokfxyi377omyargnfdo7fwespbloe", :kotoba.app/embed-url "ipfs://bafkreihen7ehm4auedkp7hjnmeqinokfxyi377omyargnfdo7fwespbloe", :published {:archive "https://kotobase.net/ipfs/bafkreihen7ehm4auedkp7hjnmeqinokfxyi377omyargnfdo7fwespbloe", :size 76278, :put-status 201, :get-status 200, :at "2026-08-15T13:40:25.421Z"}}
